@using UseCase14.Controllers
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<TestController> Localizer

@{
    ViewData["Title"] = Localizer["Index_Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Index_Header"]</h1>
    <p>@Localizer["Index_MainText"]</p>
</div>
