@using UseCase14.Controllers
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<TestController> Localizer

@{
    ViewData["Title"] = Localizer["Privacy_Title"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["Privacy_MainText"]</p>
